<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/task 
    http://www.springframework.org/schema/task/spring-task.xsd ">

	<task:annotation-driven />
	<context:annotation-config />
 	<!--  <context:component-scan base-package="com.ejie.nbrs.quartzz" />-->
 
  <bean id="springContextUtil" class="com.ejie.nbrs.util.SpringContextUtil"></bean>
	<!-- 还款计划任务轮询 start-->
	<!-- 自定义任务类 -->
    <bean name="complexJobDetail"    class="org.springframework.scheduling.quartz.JobDetailFactoryBean">  
        <property name="jobClass" value="com.ejie.nbrs.quartz.SaveRepaySchedJob" />  
        <property name="durability" value="true" />  
    </bean>  
   <!-- 触发器定义 -->
    <bean id="cronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
        <property name="jobDetail" ref="complexJobDetail" />  
        <!-- <property name="cronExpression" value="0 0/1 * * * ?" /> 一分钟触发--> 
         <property name="cronExpression" value="0 0 23 * * ?" /> 
        <!-- 每天23点触发 -->
    </bean>  
   
<!-- 绑定 SchedulerFactoryBean  后续添加任务只需要在这个类上面添加-->
    <bean  class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
        <property name="jobDetails">  
            <list>   
                <ref bean="complexJobDetail" />  
            </list>  
        </property>  
   
        <property name="triggers">  
            <list>  
                <ref bean="cronTrigger" />  
            </list>  
        </property>  
    </bean>  
<!--  还款计划任务轮询 end -->
</beans>  
 	
 	

